*{margin:0;padding:0;box-sizing:border-box;}

#chat_box{position:fixed;width:50%;height:100%;top:0;right:0;background-color:rgba(10,10,10,0.8);}
#display{color:white;font-size:20px;}
#buttons{position:absolute;bottom:0;width:100%;height:40px;margin:30px;}
#textInput{width:80%;height:100%;}
#chatButton{width:10%;height:100%;}

#img_box_wrapper{position:fixed;top:-1000%;transition:all .25s;text-align:center;background-color:rgba(10,10,10,0.8);color:white;font-size:22px;height:100%;};